{% extends "base.html" %}

{% block head %}
<!--this is the head tag for the page-->
<title>Resources</title>

{% endblock %}

{% block body %}
<!--this is the body tag for the page-->
<p>
    Due to the nation wide lockdown we are unsure whether learners will be able to return to their regurlar 
    school work, but what we are sure of is that we have prepared for their future in advance. This means 
    that they ave time to improve on all their before schools open again. There is a google drive with all 
    the resources to complete term 2's sylabas. Also there are whatsapp group chats in which learners 
    can make use of to ask teachers for help and follow with their guidelines.We do encourage that learners 
    make use of them. You can find out more from the 
    <a href="/Contacts/">contacts</a> page. the google drive resources are as follows: 
    <ul>
        <a href="">Grade 8 and 9</a><br>
        <a href="https://drive.google.com/drive/folders/1bAFpoD_RwyqfwXC3Vovz87KSmSGC2tHr?usp=drive_open">
            Grade 10, 11 and 12
        </a>
    </ul>
</p>

{% endblock %}